<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE mapper-->
<!--        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->
<!--<mapper namespace="com.am.adastra.mapper.UserMapper">-->

<!--    <resultMap type="com.am.adastra.entity.User" id="userVO">-->
<!--        <result property="id" column="id"/>-->
<!--        <result property="username" column="username"/>-->
<!--        <result property="account" column="account"/>-->
<!--        <result property="state" column="state"/>-->
<!--        <result property="items" column="items" typeHandler="com.am.adastra.util.ArrayTypeHandler"/>-->
<!--    </resultMap>-->

<!--    <insert id="add" parameterType="com.am.adastra.entity.User">-->
<!--        INSERT INTO users (username, password, account, state, items)-->
<!--        VALUES (#{username, jdbcType=VARCHAR}, #{password, jdbcType=INTEGER},-->
<!--                #{account, jdbcType=VARCHAR}, #{state, jdbcType=VARCHAR},-->
<!--                #{items, jdbcType=VARCHAR, typeHandler=com.am.adastra.util.JsonTypeHandler})-->
<!--    </insert>-->

<!--    <select id="getByUsername" resultMap="userVO">-->
<!--        select *-->
<!--        from users-->
<!--        where username = #{username}-->
<!--    </select>-->

<!--    <select id="getById" resultMap="userVO">-->
<!--        select *-->
<!--        from users-->
<!--        where id = #{id}-->
<!--    </select>-->
<!--</mapper>-->
