<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.AdminMapper">


    <select id="getByUsername" resultMap="BaseResultMap">
        select id, admin_name, password
        from Admin
        where admin_name = #{adminName}
    </select>
    <!--resultMap节点的作用是：指导Mybatis如何将结果集中的数据封装到返回的对象中-->
    <!-- id: 自定义名称-->
    <!-- type：封装查询结果的类型的全限定名 -->
    <!--column=列名， property=属性名-->
    <resultMap id="BaseResultMap" type="com.am.adastra.entity.Admin">
        <id column="id" property="id"/>
        <result column="admin_name" property="adminName"/>
        <result column="password" property="password"/>
    </resultMap>


</mapper>
