<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.AlipayMapper">

    <update id="updataVipInfo" parameterType="com.am.adastra.entity.UserVip">
        update user_vip
        set startVipTime=#{startVipTime},endVipTime=#{endVipTime},isPaySuccess=#{isPaySuccess}
        where outTradeNo=#{outTradeNo}
    </update>

    <insert id="insertVipInfo" parameterType="com.am.adastra.entity.UserVip">
        insert into
            user_vip(outTradeNo, id, vipType, startVipTime, endVipTime,isPaySuccess)
        values (#{outTradeNo},#{id},#{vipType},#{startVipTime},#{endVipTime},#{isPaySuccess})
    </insert>

    <select id="selectByOutTradeNo" resultType="com.am.adastra.entity.UserVip">
        select
            *
        from user_vip
        where outTradeNo=#{outTradeNo}
    </select>

</mapper>
