<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.am.libilibi.mapper.LBUserMapper">
    <resultMap id="userResultMap" type="com.am.libilibi.entity.LBUser">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <insert id="add" parameterType="com.am.libilibi.entity.LBUser">
        insert into `lbuser` (`username`, `password`)
        values (#{username}, #{password})
    </insert>

    <update id="update" parameterType="com.am.libilibi.entity.LBUser">
        update `lbuser`
        set `password` = #{password}
        where id = #{id}
    </update>

    <select id="getById" resultMap="userResultMap">
        select *
        from `lbuser`
        where id = #{id}
    </select>

    <select id="getByUsername2" resultMap="userResultMap">
        select *
        from `lbuser`
        where username = #{username}
    </select>


</mapper>
