<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserHistoryMapper">

<!--    /*
    * 向用户历史表中添加数据
    * */
    @Insert("insert into history values(null,#{userId},#{historyVideoId},#{time},#{state})")
    int add(UserHistoryDTO userHistory);-->
    <insert id="add">
        insert into history(user_id, history_video_id, time, state, video_id)
        values (#{userId},#{historyVideoId},#{time},#{state},#{videoId})
    </insert>


<!--    /*
    * 查询userId用户所有的浏览信息，通过时间排序
    * */
    //    asc：升序（默认）   desc:降序
    //    @Select("select * from history  order by time")
    @Select("select * from history where user_id=#{userId} order by time desc")
    //这里的名称和数据库中的名称不一样，因此我们需要利用Result来声明不一样的变量
    @Result(property = "userId", column = "user_id")
    @Result(property = "historyVideoId", column = "history_video_id")
    List<UserHistory> selectById(Integer userId);-->
    <select id="selectById" resultMap="selectByIdMap">
        select id, user_id, history_video_id, time, state, video_id
        from history
        where user_id=#{userId}
    </select>
    <resultMap id="selectByIdMap" type="com.am.adastra.entity.vo.UserHistorySimpleVO">
        <id column="id" property="id" />
        <id column="history_video_id" property="historyVideoId" />
        <result column="time" property="time" />
        <result column="video_id" property="videoId" />
    </resultMap>

</mapper>















