<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserHistoryMapper">

    <select id="getAll" resultType="com.am.adastra.entity.Video">
        SELECT *
        FROM videos
        WHERE aid IN (
            SELECT aid
            FROM history
            WHERE uid = #{uid})
    </select>

    <select id="getLimitByDate" resultType="com.am.adastra.entity.Video">
        SELECT *
        FROM videos
        WHERE aid IN (
            SELECT aid
            FROM history
            WHERE uid = #{uid}
              and create_time > #{date})
    </select>

    <delete id="del">
        delete
        from history
        where id = #{id}
    </delete>

    <delete id="clear">
        delete
        from history
        where uid = #{uid}
    </delete>

    <update id="fakeDel">
        update history
        set state='del'
        where id = #{id}
    </update>

    <update id="fakeClear">
        update history
        set state='del'
        where uid = #{uid}
    </update>

    <select id="getLimit" resultMap="getLimitMap">
        SELECT
        <include refid="getLimitFields"/>
        FROM history
        JOIN videos ON history.aid = videos.aid
        WHERE uid = #{uid}
        and state = 'normal'
        order by create_time desc
        limit 0,#{ps}
    </select>
    <resultMap id="getLimitMap" type="com.am.adastra.entity.vo.UserHistorySimpleVO">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <collection property="video" ofType="com.am.adastra.entity.Video">
            <id column="aid" property="aid"/>
            <result column="pid" property="pid"/>
            <result column="tid" property="tid"/>
            <result column="tname" property="tname"/>
            <result column="pic" property="pic"/>
            <result column="title" property="title"/>
            <result column="desc" property="desc"/>
            <result column="view" property="view"/>
            <result column="danmaku" property="danmaku"/>
            <result column="reply" property="reply"/>
            <result column="favorite" property="favorite"/>
            <result column="coin" property="coin"/>
            <result column="share" property="share"/>
            <result column="like" property="like"/>
        </collection>
    </resultMap>

    <sql id="getLimitFields">
        <if test="true">
            id,
            history.uid,
            create_time,
            state,
            videos.aid,
            videos.pid,
            tid,
            tname,
            pic,
            title,
            `desc`,
            view,
            danmaku,
            reply,
            favorite,
            coin,
            share,
            `like`
        </if>
    </sql>


    <insert id="add">
        insert into history(uid, pid, aid)
        values (#{uid}, #{pid}, #{aid})
    </insert>
</mapper>
