<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserCollectionMapper">

<!--
    * 通过视频id和用户id   在收藏夹中查找   判断该用户是否收藏了这个视频
    * */
    @Select("select * from collection where user_id=#{userId} and collection_video_id=#{collectionVideoId}")-->
    <select id="selectByUserId" resultMap="selectByUserIdResultMap">
        select id, user_id, collection_video_id, collection_time, category, state
        from collection
        where user_id=#{userId} and collection_video_id=#{collectionVideoId}
    </select>
    <!--resultMap节点的作用是：指导Mybatis如何将结果集中的数据封装到返回的对象中-->
    <!-- id: 自定义名称-->
    <!-- type：封装查询结果的类型的全限定名 -->
    <!--column=列名(数据库中的名字)， property=属性名(实体类中的名字)-->
    <resultMap id="selectByUserIdResultMap" type="com.am.adastra.entity.UserCollection">
        <id column="id" property="id"/>
        <id column="user_id" property="userId"/>
        <result column="collection_video_id" property="collectionVideoId"/>
        <result column="video_id" property="videoId"/>
        <result column="collection_time" property="collectionTime"/>
        <result column="category" property="category"/>
        <result column="state" property="state"/>
    </resultMap>


<!--    /*
    * 在数据库中添加新的收藏记录
    * */
    @Insert("insert into collection values(null,#{userId},#{collectionVideoId},#{collectionTime},#{category},#{state})")-->
    <insert id="add">
        insert into collection( user_id, collection_video_id, collection_time, category, state, video_id)
        values(#{userid},#{collectionVideoId},#{collectionTime},#{category},#{state},#{videoId})
    </insert>



</mapper>
