<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserMapper">

    <insert id="addDBO" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into users(username, password, account, items) value (#{username}, #{password}, #{account}, #{jsItems})
    </insert>

    <update id="updateDBO">
        update users
        set username=#{username},
            password=#{password},
            account=#{account}
        where id = #{id}
    </update>

    <select id="getDBOById" resultType="com.am.adastra.entity.UserDBO">
        select id, username, password, account, items as jsItems, state
        from users
        where id = #{id}
    </select>

    <select id="getDBOByUsername" resultType="com.am.adastra.entity.UserDBO">
        select id, username, password, account, items as jsItems, state
        from users
        where username = #{username}
    </select>

    <select id="getDBOByAccount" resultType="com.am.adastra.entity.UserDBO">
        select id, username, password, account, items as jsItems, state
        from users
        where account = #{account}
    </select>


   <!--  返回所有用户信息
    @Select("select * from users")-->
    <select id="list" resultType="com.am.adastra.entity.User">
        select id, username,  account, items, state
        from users
    </select>

</mapper>
