<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserLikeMapper">

    <insert id="addLike">
        insert into `likes`(uid, aid, pid)
        values (#{uid}, #{aid}, #{pid})
    </insert>

    <select id="listByUserId" resultType="com.am.adastra.entity.dto.VideoOperateDTO">
        select id, uid, aid
        from likes
        where uid = #{uid}
    </select>

    <select id="isLikeVideo" resultType="com.am.adastra.entity.dto.VideoOperateDTO">
        select id, uid, aid
        from likes
        where uid = #{uid}
          and aid = #{aid}
    </select>

    <delete id="cancelLike">
        delete
        from likes
        where uid = #{uid}
          and aid = #{aid}
    </delete>
</mapper>
