<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.adastra.mapper.UserCollectionMapper">

    <!--    /*
        * 通过视频id和用户id   在收藏夹中查找   判断该用户是否收藏了这个视频
        * */
        @Select("select * from collection where user_id=#{userId} and collection_video_id=#{collectionVideoId}")
        UserCollectionSimpleVO selectByUserId(Integer userId, Integer collectionVideoId);-->
    <select id="selectByUserId" resultMap="selectByUserIdMap">
        select id, create_time, category_name
        from collection
        where uid = #{uid}
          and aid = #{aid}
    </select>
    <resultMap id="selectByUserIdMap" type="com.am.adastra.entity.vo.UserCollectionSimpleVO">
        <id column="id" property="id"/>
        <result column="category_name" property="categoryName"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <collection property="video" ofType="com.am.adastra.entity.Video">
            <id column="aid" property="aid"/>
            <result column="pid" property="pid"/>
            <result column="tid" property="tid"/>
            <result column="tname" property="tname"/>
            <result column="pic" property="pic"/>
            <result column="title" property="title"/>
            <result column="desc" property="desc"/>
            <result column="view" property="view"/>
            <result column="danmaku" property="danmaku"/>
            <result column="reply" property="reply"/>
            <result column="favorite" property="favorite"/>
            <result column="coin" property="coin"/>
            <result column="share" property="share"/>
            <result column="like" property="like"/>
        </collection>
    </resultMap>

    <!--<include refid="selectByCollectionFields"/>
     通过用户id和分类信息查询出用户的收藏信息
     UserCollectionSimpleVO selectByCollection(Integer uid, String categoryName);-->
    <select id="selectByCollection" resultMap="selectByUserIdMap">
        SELECT *
        FROM collection JOIN videos ON collection.aid=videos.aid
        WHERE collection.uid = #{uid} AND collection.category_name = #{categoryName}

    </select>
    <sql id="selectByCollectionFields">
        <if test="true">
            videos.uid,
            videos.tid,
            videos.tname,
            videos.pic,
            videos.title,
            videos.`desc`,
            videos.view,
            videos.danmaku,
            videos.reply,
            videos.favorite,
            videos.coin,
            videos.share,
            videos.`like`,
            collection.id,
            collection.uid,
            collection.aid,
            collection.create_time,
            collection.category_name,
            collection.state,
            collection.pid
        </if>

    </sql>

    <!--   /*
       * 在数据库中添加新的收藏记录
       * */
       @Insert("insert into collection values(null,#{userId},#{collectionVideoId},#{collectionTime},#{category})")
       int add(VideoOperateDTO lbUserCollection);-->
    <insert id="add">
        insert into collection(uid, aid, create_time, category_name, pid)
        VALUES (#{uid}, #{aid}, #{createTime}, #{categoryName}, #{pid})
    </insert>


    <!--    /*
        * 通过用户id查询出用户所有的收藏信息
        * */
        List<UserCollectionSimpleVO> selectById(Integer userId);-->
    <select id="selectById" resultMap="selectByUserIdMap">
        select *
        from collection,videos
        where collection.aid = videos.aid and collection.uid=#{uid}
    </select>


</mapper>















